Desktop/anu bhai/n8n_client_risk_workflow.json
{
  "name": "Client Onboarding & Risk Evaluator Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "client-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger - New Client",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "client-onboarding-webhook"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        },
        "prompt": "=You are a client risk assessment specialist. Analyze the following client data and provide a risk evaluation:\n\nClient Information:\n- Name: {{ $json.name }}\n- Email: {{ $json.email }}\n- Budget: {{ $json.budget }}\n- Industry: {{ $json.industry }}\n- Country: {{ $json.country }}\n- Company Size: {{ $json.company_size }}\n\nEvaluate the risk level based on:\n1. Budget range (higher budget = lower risk)\n2. Country risk profile (research geopolitical and economic stability)\n3. Industry volatility (tech/crypto = higher risk, healthcare/finance = lower risk)\n4. Company size (larger companies = lower risk)\n\nProvide your response in this exact JSON format:\n{\n  \"risk_level\": \"Low|Medium|High\",\n  \"risk_explanation\": \"Brief 2-3 line explanation of the risk assessment\",\n  \"confidence_score\": \"0-100\"\n}\n\nBe objective and professional in your assessment."
      },
      "id": "ai-risk-evaluation",
      "name": "AI Risk Evaluation",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.choices[0].message.content) }}"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.risk_level }}",
              "operation": "equal",
              "value2": "Low"
            }
          ]
        }
      },
      "id": "risk-switch-low",
      "name": "Risk Level Switch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.risk_level }}",
              "operation": "equal",
              "value2": "Medium"
            }
          ]
        }
      },
      "id": "risk-switch-medium",
      "name": "Medium Risk Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app12345",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblClients",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook Trigger - New Client').item.json.name }}",
            "Email": "={{ $('Webhook Trigger - New Client').item.json.email }}",
            "Budget": "={{ $('Webhook Trigger - New Client').item.json.budget }}",
            "Industry": "={{ $('Webhook Trigger - New Client').item.json.industry }}",
            "Country": "={{ $('Webhook Trigger - New Client').item.json.country }}",
            "Company Size": "={{ $('Webhook Trigger - New Client').item.json.company_size }}",
            "Risk Level": "={{ $json.risk_level }}",
            "Risk Explanation": "={{ $json.risk_explanation }}",
            "Status": "Approved",
            "Date Added": "={{ $now }}"
          }
        }
      },
      "id": "add-to-clients-db-low",
      "name": "Add to Clients DB (Low Risk)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app12345",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblClients",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook Trigger - New Client').item.json.name }}",
            "Email": "={{ $('Webhook Trigger - New Client').item.json.email }}",
            "Budget": "={{ $('Webhook Trigger - New Client').item.json.budget }}",
            "Industry": "={{ $('Webhook Trigger - New Client').item.json.industry }}",
            "Country": "={{ $('Webhook Trigger - New Client').item.json.country }}",
            "Company Size": "={{ $('Webhook Trigger - New Client').item.json.company_size }}",
            "Risk Level": "={{ $json.risk_level }}",
            "Risk Explanation": "={{ $json.risk_explanation }}",
            "Status": "Pending Review",
            "Date Added": "={{ $now }}"
          }
        }
      },
      "id": "add-to-clients-db-medium",
      "name": "Add to Clients DB (Medium Risk)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app12345",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblWatchlist",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Webhook Trigger - New Client').item.json.name }}",
            "Email": "={{ $('Webhook Trigger - New Client').item.json.email }}",
            "Budget": "={{ $('Webhook Trigger - New Client').item.json.budget }}",
            "Industry": "={{ $('Webhook Trigger - New Client').item.json.industry }}",
            "Country": "={{ $('Webhook Trigger - New Client').item.json.country }}",
            "Company Size": "={{ $('Webhook Trigger - New Client').item.json.company_size }}",
            "Risk Level": "={{ $json.risk_level }}",
            "Risk Explanation": "={{ $json.risk_explanation }}",
            "Status": "High Risk - Requires Approval",
            "Date Added": "={{ $now }}"
          }
        }
      },
      "id": "add-to-watchlist-high",
      "name": "Add to Watchlist (High Risk)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@company.com",
        "toEmail": "={{ $('Webhook Trigger - New Client').item.json.email }}",
        "subject": "Welcome to Our Platform!",
        "emailFormat": "html",
        "message": "=<h2>Welcome {{ $('Webhook Trigger - New Client').item.json.name }}!</h2>\n\n<p>Thank you for joining our platform. We're excited to work with you!</p>\n\n<p><strong>Your Account Details:</strong></p>\n<ul>\n<li>Email: {{ $('Webhook Trigger - New Client').item.json.email }}</li>\n<li>Budget: {{ $('Webhook Trigger - New Client').item.json.budget }}</li>\n<li>Industry: {{ $('Webhook Trigger - New Client').item.json.industry }}</li>\n</ul>\n\n<p>Our team will be in touch within 24 hours to discuss your requirements.</p>\n\n<p>Best regards,<br>The Onboarding Team</p>"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "channel": "manual-review",
        "text": "=🔍 **Medium Risk Client Requires Review**\n\n*Client:* {{ $('Webhook Trigger - New Client').item.json.name }}\n*Email:* {{ $('Webhook Trigger - New Client').item.json.email }}\n*Budget:* {{ $('Webhook Trigger - New Client').item.json.budget }}\n*Industry:* {{ $('Webhook Trigger - New Client').item.json.industry }}\n*Country:* {{ $('Webhook Trigger - New Client').item.json.country }}\n\n*Risk Assessment:* {{ $json.risk_explanation }}\n\nPlease review and approve/reject this client in Airtable.",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-medium-risk",
      "name": "Slack Alert - Medium Risk",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-credentials",
          "name": "Slack OAuth2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "admin@company.com",
        "toEmail": "admin@company.com",
        "subject": "🚨 HIGH RISK CLIENT ALERT",
        "emailFormat": "html",
        "message": "=<h2 style=\"color: red;\">⚠️ HIGH RISK CLIENT DETECTED</h2>\n\n<p><strong>Client Information:</strong></p>\n<ul>\n<li><strong>Name:</strong> {{ $('Webhook Trigger - New Client').item.json.name }}</li>\n<li><strong>Email:</strong> {{ $('Webhook Trigger - New Client').item.json.email }}</li>\n<li><strong>Budget:</strong> {{ $('Webhook Trigger - New Client').item.json.budget }}</li>\n<li><strong>Industry:</strong> {{ $('Webhook Trigger - New Client').item.json.industry }}</li>\n<li><strong>Country:</strong> {{ $('Webhook Trigger - New Client').item.json.country }}</li>\n<li><strong>Company Size:</strong> {{ $('Webhook Trigger - New Client').item.json.company_size }}</li>\n</ul>\n\n<p><strong>Risk Assessment:</strong><br>{{ $json.risk_explanation }}</p>\n\n<p>This client has been added to the watchlist and requires immediate review before proceeding.</p>\n\n<p>Please review in Airtable and take appropriate action.</p>"
      },
      "id": "email-admin-high-risk",
      "name": "Email Admin - High Risk",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1340,
        600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "channel": "risk-team",
        "text": "=🚨 **HIGH RISK CLIENT ALERT**\n\n*Client:* {{ $('Webhook Trigger - New Client').item.json.name }}\n*Email:* {{ $('Webhook Trigger - New Client').item.json.email }}\n*Budget:* {{ $('Webhook Trigger - New Client').item.json.budget }}\n*Industry:* {{ $('Webhook Trigger - New Client').item.json.industry }}\n*Country:* {{ $('Webhook Trigger - New Client').item.json.country }}\n*Company Size:* {{ $('Webhook Trigger - New Client').item.json.company_size }}\n\n*Risk Assessment:* {{ $json.risk_explanation }}\n\n⚠️ **IMMEDIATE ACTION REQUIRED** ⚠️\nThis client has been flagged as high risk and added to the watchlist. Please review immediately.",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "slack-high-risk",
      "name": "Slack Alert - High Risk Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1340,
        700
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "slack-credentials",
          "name": "Slack OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"client_name\": \"{{ $('Webhook Trigger - New Client').item.json.name }}\",\n  \"email\": \"{{ $('Webhook Trigger - New Client').item.json.email }}\",\n  \"budget\": \"{{ $('Webhook Trigger - New Client').item.json.budget }}\",\n  \"industry\": \"{{ $('Webhook Trigger - New Client').item.json.industry }}\",\n  \"country\": \"{{ $('Webhook Trigger - New Client').item.json.country }}\",\n  \"company_size\": \"{{ $('Webhook Trigger - New Client').item.json.company_size }}\",\n  \"risk_level\": \"{{ $json.risk_level }}\",\n  \"risk_explanation\": \"{{ $json.risk_explanation }}\",\n  \"assessment_date\": \"{{ $now }}\",\n  \"workflow_status\": \"Completed\"\n}"
      },
      "id": "generate-risk-summary",
      "name": "Generate Risk Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "htmlContent": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; margin: 20px; }\n        .header { background-color: #f4f4f4; padding: 20px; border-radius: 5px; }\n        .risk-low { color: #28a745; }\n        .risk-medium { color: #ffc107; }\n        .risk-high { color: #dc3545; }\n        .summary-table { width: 100%; border-collapse: collapse; margin-top: 20px; }\n        .summary-table th, .summary-table td { border: 1px solid #ddd; padding: 12px; text-align: left; }\n        .summary-table th { background-color: #f2f2f2; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>Client Risk Assessment Report</h1>\n        <p>Generated on: {{ $json.assessment_date }}</p>\n    </div>\n    \n    <h2>Client Information</h2>\n    <table class=\"summary-table\">\n        <tr><th>Field</th><th>Value</th></tr>\n        <tr><td>Name</td><td>{{ $json.client_name }}</td></tr>\n        <tr><td>Email</td><td>{{ $json.email }}</td></tr>\n        <tr><td>Budget</td><td>{{ $json.budget }}</td></tr>\n        <tr><td>Industry</td><td>{{ $json.industry }}</td></tr>\n        <tr><td>Country</td><td>{{ $json.country }}</td></tr>\n        <tr><td>Company Size</td><td>{{ $json.company_size }}</td></tr>\n    </table>\n    \n    <h2>Risk Assessment</h2>\n    <p><strong>Risk Level:</strong> <span class=\"risk-{{ $json.risk_level.toLowerCase() }}\">{{ $json.risk_level }}</span></p>\n    <p><strong>Explanation:</strong> {{ $json.risk_explanation }}</p>\n    \n    <h2>Workflow Status</h2>\n    <p>Status: {{ $json.workflow_status }}</p>\n    \n    <hr>\n    <p><small>This report was generated automatically by the Client Onboarding & Risk Evaluator Agent</small></p>\n</body>\n</html>"
      },
      "id": "generate-html-report",
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "value": "1ABC123DEF456GHI789JKL",
          "mode": "list"
        },
        "name": "=Client_Risk_Report_{{ $('Generate Risk Summary').item.json.client_name.replace(' ', '_') }}_{{ $now.format('YYYY-MM-DD_HH-mm-ss') }}.html",
        "inputDataFieldName": "data"
      },
      "id": "save-to-drive",
      "name": "Save Report to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-credentials",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Client onboarding completed successfully\",\n  \"client_name\": \"{{ $('Webhook Trigger - New Client').item.json.name }}\",\n  \"risk_level\": \"{{ $('Parse AI Response').item.json.risk_level }}\",\n  \"timestamp\": \"{{ $now }}\"\n}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger - New Client": {
      "main": [
        [
          {
            "node": "AI Risk Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Risk Evaluation": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Risk Level Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Medium Risk Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Level Switch": {
      "main": [
        [
          {
            "node": "Add to Clients DB (Low Risk)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Watchlist (High Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Medium Risk Check": {
      "main": [
        [
          {
            "node": "Add to Clients DB (Medium Risk)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Clients DB (Low Risk)": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Clients DB (Medium Risk)": {
      "main": [
        [
          {
            "node": "Slack Alert - Medium Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Watchlist (High Risk)": {
      "main": [
        [
          {
            "node": "Email Admin - High Risk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert - High Risk Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Generate Risk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert - Medium Risk": {
      "main": [
        [
          {
            "node": "Generate Risk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Admin - High Risk": {
      "main": [
        [
          {
            "node": "Generate Risk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert - High Risk Team": {
      "main": [
        [
          {
            "node": "Generate Risk Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Risk Summary": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Save Report to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report to Google Drive": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-15T10:00:00.000Z",
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}